* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: red;
}


/* iPhone 6/7/8 */
@media (min-height: 570px) and (max-height: 670px) {
    .jumbotron {
        height: 550px;
        background-position: center;
        background-size: cover;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .jumbotron {
        background-position: center;
        background-size: cover;
    }

    .jumbotron .image-svg {
        display: none;
    }

    .jumbotron .greetings {
        color: #131313;
        font-size: 36pt;
        font-weight: bold;
        text-align: center;
    }
}



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .jumbotron {
        height: 550px;
        background-position: center;
        background-size: cover;
    }

    .jumbotron .image-svg {
        display: block;
    }

    .jumbotron .greetings {
        color: #131313;
        font-weight: bold;
        font-size: 48pt;
        text-align: center;
        height: 100px;
    }

    .jumbotron .introduce {
        color: #131313;
        text-align: center;
        font-size: 14pt;
    }

}


/* Jumbotron */
.jumbotron {
    height: 550px;
    background-position: center;
    background-size: cover;
}

.jumbotron .greetings {
    color: #131313;
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
    height: auto;
}

.jumbotron .introduce {
    color: #131313;
    text-align: center;
    font-size: 14pt;
}

.jumbotron .image-svg {
    display: none;
}

.jumbotron .introduce {
    color: #131313;
    text-align: center;
    margin-right: 3px;
}

.jumbotron .button {
    text-align: center;
    margin-top: 16px;
}

/* Desktop */
@media(min-width:992px) {
    .jumbotron {
        height: 550px;
        background: unset;
    }

    .jumbotron .image-svg {
        display: block;
    }

    .jumbotron .greetings {
        color: #131313;
        font-weight: bold;
        font-size: 56pt;
        text-align: left;
        height: 100px;
    }

    .jumbotron .introduce {
        color: #131313;
        text-align: left;
        font-size: 14pt;
    }

    .jumbotron .button {
        text-align: left;
        margin-top: 0px;
    }

    .jumbo-desktop {
        display: unset;
    }

    .jumbo-mobile {
        visibility: hidden;
    }
}

@media(min-width:1400px) {
    .jumbotron {
        height: 1000px;
        background: unset;
    }

    .jumbotron .image-svg {
        display: block;
    }

    .jumbotron .greetings {
        color: #131313;
        font-weight: bold;
        font-size: 56pt;
        text-align: left;
        height: 100px;
    }

    .jumbotron .introduce {
        color: #131313;
        text-align: left;
        font-size: 14pt;
    }
}